body{
    background: skyblue;
}
.portfolio{
    font-size: 100px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    line-height: normal;
    margin: 80px;
    padding: 80px;
}
.my{
    color:blue;
}
.portfolio1{
    color: white;
}
.cadre{
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
    margin: 1px;
    margin-right: 1000px;
    background-color:white ;
}
.about_me{
    text-decoration: none;
}
.skills{
    text-decoration: none;
}
.contacts{
    text-decoration: none;
}

